<html>
<header>
    <title>Multimedia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</header>
<body>
    <h1>Search results: {{ search }}</h1> 
    <br/>
    <br/>
    <br/>
    
    <!-- the received movies in a hidden div -->
    <div id="movie_data_received" style="display: none;">{{ json | tojson }}</div> 
    
    <!-- the received aggregations in a hidden div -->
    <div id="aggregations_received" style="display: none;">{{ aggregations | tojson }}</div> 

    <h2>Movies with LGBTQ issues:</h2>
    <br/>
    <br/>
    <br/>

    <!-- the processed movies displayed to the user -->
    <div id="movies"></div>

    <h2>Movies with LGBTQ issues per year:</h2>
    <br/>
    <!-- the processed aggregations displayed to the user -->
    <div id="aggregations"></div>

    <script> 
        display_movies();

        function display_movies()
        {
            // extract the movie content
            const movieDiv = document.getElementById('movie_data_received');
            const movieJsonString = movieDiv.innerHTML;
            
            // parse to JSON
            let movies = JSON.parse(movieJsonString);

            // the movie content to be displayed
            let movieHtml = "<table class='table'>";
            movieHtml += "<thead><tr>";
            movieHtml += "<th scope='col'>#</th>";
            movieHtml += "<th scope='col'>Title</th>";
            movieHtml += "<th scope='col'>Summary</th>";
            movieHtml += "<th scope='col'>Plotwords</th>";
            movieHtml += "</thead></tr>"; 
            movieHtml += "<tbody>";

            // string displayed when some property is undefined 
            const undefinedString = "-/-";

            // iterate over all movies and add them to the HTML table
            for (x in movies) {
                const movie = movies[x]._source;

                movieHtml += "<tr>";

                movieHtml += "<th scope='row'>" + x + "</th>";
                movieHtml += "<td>" + ((movie.title !== undefined) ? movie.title : undefinedString) + "</td>";
                movieHtml += "<td>" + ((movie.summary !== undefined) ? movie.summary : undefinedString) + "</td>";
                // stringify arrays
                movieHtml += "<td>" + ((movie.plotwords !== undefined) ? JSON.stringify(movie.plotwords) : undefinedString) + "</td>";

                movieHtml += "</tr>";
            }

            movieHtml += "</tbody>";
            movieHtml += "</table>";

            // store movies to div
            document.getElementById("movies").innerHTML = movieHtml;

            // extract the aggregation content (containing the amount of lgbtq movies per year)
            const aggregationDiv = document.getElementById('aggregations_received');
            const aggregationsJsonString = aggregationDiv.innerHTML;

            // parse to JSON
            let aggregations = JSON.parse(aggregationsJsonString);

            // the aggregation content to be displayed
            let aggregationHtml = "<table class='table'>";
            aggregationHtml += "<thead><tr>";
            aggregationHtml += "<th scope='col'>#</th>";
            aggregationHtml += "<th scope='col'>Year</th>";
            aggregationHtml += "<th scope='col'>Amount</th>";
            aggregationHtml += "</thead></tr>"; 
            aggregationHtml += "<tbody>";

            // sort aggregations by year 
            aggregations.sort((a, b) => parseFloat(a.key) - parseFloat(b.key))

            // iterate over all aggregations and add them to the HTML table
            for (x in aggregations) {
                const aggregation = aggregations[x];

                aggregationHtml += "<tr>";

                aggregationHtml += "<th scope='row'>" + x + "</th>";
                aggregationHtml += "<td>" + aggregation.key + "</td>";
                aggregationHtml += "<td>" + aggregation.doc_count + "</td>";

                aggregationHtml += "</tr>";
            }

            aggregationHtml += "</tbody>";
            aggregationHtml += "</table>";

            // store aggregations to div
            document.getElementById("aggregations").innerHTML = aggregationHtml;
        }
    </script>
</body>
</html>